**/.ipynb_checkpoints/**
**/yelp_dataset/**
**/CSc180/**/*.tsv
**/CSc180/**/*.csv
**/CSc180/**/*.hdf5
**/wireshark-traces/**
**/traffic_light_**/**
**/rgb/**
**/images/**
*.png
*.txt
**/yolov5/
*.cache
**/models/**